html, body {
background-color: #FFFFFF;
height: 100%;
color: #003366;
/*background-image: -moz-linear-gradient(bottom, #585858, #333333); */
/*background-image: -ms-linear-gradient(bottom, #585858, #333333); */
/*background-image: -webkit-linear-gradient(bottom, #585858, #333333); */
/*background-image: -o-linear-gradient(bottom, #585858, #333333); */
/*background-image: linear-gradient(bottom, #585858, #333333); */
}

#wrap {
min-height:100%;
height: auto !important;
width: auto !important;
margin: 0 auto
}

#push,
#footer {
height: 100px;
width:100% !important;
}

#footer {
background-color: #FFFFFF;
width:100% !important;
}

h1, h2 {
padding-top: 50px;
padding-bottom: 40px;
padding-right: 25px;
text-align: right;
font-size:60px;
font-family: 'Raleway', sans-serif;
color: #003366;
}

h3, h4, h5, h6 {
color: #003366;
}

.top-row {
float: left;
display: block;
height: 100px;
/*width: 100% !important;*/

}

.top-fade { 
  background-image: -moz-linear-gradient(top, #CBCAB6, #FFFFE6); 
  background-image: -ms-linear-gradient(top, #CBCAB6, #FFFFE6); 
  background-image: -webkit-linear-gradient(top, #CBCAB6, #FFFFE6); 
  background-image: -o-linear-gradient(top, #CBCAB6, #FFFFE6); 
  background-image: linear-gradient(top, #CBCAB6, #FFFFE6); 
} 

.row-custom{
padding-top: 40px;
}

.span-custom-f{
padding-bottom: 50px;
}

.span-custom-g{
padding-bottom: 15px;
}

.container-footer{
float: right;
width: 100% !important;
}

.right-bottom {
float: right;
padding-bottom: 40px;
padding-right: 20px;
}

.force-down {
padding-top: 20px;
}

.force-left{
text-align: left;
padding-left: 20px;
}

.left-pad{
padding-left:20px;
}

.section-header {
text-align: right;
font-size: 25px;
font-family: 'Raleway', sans-serif;
}

.right{
float:right;
}

.right-top {
float:right;
padding-bottom: 40px;
padding-right: 20px;
color: #003366;
}

.right-top2 {
float:right;
padding-top: 20px;
padding-right: 20px;
color: #003366;
}

.row-resume{
padding-top:30px;
color: #003366;
}

.resumefooter{
padding-bottom:50px;
color: #003366;
}